#login-box {
  position: relative;
  margin: 5% auto;
  width: 800px;
  height: 600px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}/*tamanho da tela de cadastro*/

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 38px;
}/*tamanho da palavra login */

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #881b1b;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}/*boton  login*/

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #1652a0;
  color: #151616;
  transition: 0.2s ease;
}/*boton  login*/

input[type="submit"] {
  margin-top: 18px;
  width: 220px;
  height: 42px;
  background: #165da0;
  border: none;
  border-radius: 30px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease;
  cursor: pointer;
}/*boton de entrar*/

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}/*boton de entrar*/

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}/*boton de entrar*/

