<div th:replace="/html/topo"></div>
<link rel="stylesheet" href="/css/PaginaInicial.css">
<link rel="stylesheet" href="/css/login.css">

<div id="login-box">
        <div class="left">
            
          <h1>Login</h1>
          
          <input type="password" name="username" placeholder="Digite o seu nome de usuario" />
          <br>
          <br>
          <input type="password" name="password" placeholder="Senha" />
          <br>
          <br>
          <input type="password" name="password2" placeholder="Digite a sua senha novamente" />
          <br> 
          <br>
          <input type="submit" name="signup_submit" value="Entrar " />

        </div>
</div>
<div th:replace="/html/footer"></div>