<div th:replace="/html/topo"></div>
<link rel="stylesheet" href="/css/produtos.css">





</div>
    </div>



    
                <h4 class="section-title">Produtos selecionados</h4>
                <div class="subtitle-underline"></div>
                <div class="cols cols-4">
                    <div class="product">
                        <img src="images/products/product-4.png" alt="">
                        <p class="product-name">Combo Gamer Metion</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734</p>
                        <p class="product-price">R$ 150,00 <span>BRL</span></p>
                    </div>

                    
                    <div class="product">
                        <img src="images/products/product-5.png" alt="">
                        <p class="product-name">Ventus XS</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734</p>
                        <p class="product-price">R$ 1.000,00 <span>BRL</span></p>
                    </div>


                    <div class="product">
                        <img src="images/products/product-6.png" alt="">
                        <p class="product-name">Controle de Ps5</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734</p>
                        <p class="product-price">R$ 500,00 <span>BRL</span></p>
                    </div>


                    <div class="product">
                        <img src="images/products/product-7.png" alt="">
                        <p class="product-name">Cadeira Gamer</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734</p>
                        <p class="product-price">R$ 899,00 <span>BRL</span></p>
                    </div>

                </div>
               
               

                </div>

            </div>
            <br>
<div th:replace="/html/produtos"></div>
<div th:replace="/html/footer"></div>
