<div th:replace="/html/topo"></div>
<link rel="stylesheet" href="/css/PaginaInicial.css">
<link rel="stylesheet" href="/css/sobre.css">


<div class="container">
    <div class="textarea"> 
    <h2>Nossa História</h2>
    <p>Somos uma equipe dedicada de profissionais comprometidos com a excelência em nossos serviços. Fundada em 2023, nossa empresa tem se esforçado para fornecer soluções de alta qualidade para nossos clientes em todo o mundo.</p>

    <h2>Nossa Equipe</h2>
    <p>Nossa equipe é composta por profissionais experientes e apaixonados pelo que fazem. Estamos constantemente atualizando nossos conhecimentos e habilidades para oferecer as melhores soluções para nossos clientes.</p>
</div>
</div>

<div class="container">
    <div class="box">
        <h1>Missão</h1>
        <p>Nossa missão é fornecer produtos/serviços de alta qualidade para satisfazer as necessidades de nossos clientes e melhorar suas vidas.</p>
    </div>

    <div class="box">
        <h1>Visão</h1>
        <p>Nossa visão é ser líderes em nosso setor, inovando constantemente e contribuindo para um mundo melhor.</p>
    


   
    </div>

    <div class="box">
        <h1>Valores</h1>
        <p>Nossos valores incluem integridade, modernidade, qualidade, inovação, trabalho em equipe e responsabilidade social.</p>
    </div>
</div>






<div th:replace="/html/footer"></div>